.dropdown-menu  {
    background-color: black;
}
.header-container{
    background-color: #2e2c28 !important;
    padding: 10px 0;
    opacity: 0.7;
}
.nav-style a {
    text-decoration: none;
    margin-right: 20px;
    padding: 2px;
    font-size: 18px;
    color: #fff ;
}
